{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="addCard">
    <H2>Add card</H2>
    <form action="{{url_for('addItem')}}" method="post">
      <label>Name: </label>
      <input name="name">
      <label>Description:</label>
      <input name="description">
      <button>Submit</button>
    </form>
    <H1></H1>
  </div>


  <div class="Todo">
    <div class="col-md-12">
      <h2>Todo:</h2>
      <ul display: block; class="list-group mb-8">
        <body>
          {% for card in todo %}
          <div class={{card.m_name}}>
            <div class="text">
              <h3>Name:  {{card.m_name}}</h3>
              <h3>Description: {{card.m_desc}}</h3>
            </div>
            <div class="buttons">
              <form action="{{url_for('changeStatus')}}?name={{card.m_name}}&id={{card.m_id}}&desc={{card.m_desc}}&status={{doneID}}" method="post">          
                <button name="Move to done" value="name: {{card.namem_}}">Move to done</button>
              </form>
            </div>
          </div>
          {% endfor %}
        </body>
      </ul>
    </div>
  </div>

  <div class="Done">
    <div class="col-md-12">
      <h2>Done:</h2>
      <ul class="list-group mb-4">
        <body>
          {% for card in done %}
          <div class={{card.m_name}}>
            <div class="text">
              <h3>Name:  {{card.m_name}}</h3>
              <h3>Description: {{card.m_desc}}</h3>
            </div>
            <div class="buttons">
              <form action="{{url_for('changeStatus')}}?name={{card.m_name}}&id={{card.m_id}}&desc={{card.m_desc}}&status={{todoID}}" method="post">                
                
                <button name="Move to todo" value="name: {{card.m_name}}">Move to todo</button>
              </form>
            </div>
          </div>
          {% endfor %}
        </body>
      </ul>
    </div>
  </div>

  <div class="Clear cards">
    <H2>Delete all card</H2>
    <form action="{{url_for('delAllItems')}}" method="post">
      <button>Delete all</button>
    </form>
    <H1></H1>
  </div>

{% endblock %}